body{
font-family: sans-serif;
margin: 35px 15% 1px 15%
}
.right-align{
    text-align: right;
}
header{
    font-size: 20px;
    line-height: 29px;
    text-align: justify;
    
}
.header a{
    text-decoration:none;
}
.main-content{
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 10px;
}

.box{
    display: flex;
    flex-wrap: wrap;
    margin: 15px;
    padding: 3%;
    

}
footer{
   font-size: 13px;
    text-align: center;
    margin: 10px;
}
    
    
}
.footer-links{
    
}